@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css");

:root {
    --border_color: #ececec;
}

body {
    overflow-x: hidden;
}

.w-50 {
    width: 50% !important;
}

.w-40 {
    width: 40% !important;
}

.w-70 {
    width: 70%;
}

.w7_table span.free {
    background: var(--success);
    padding: 5px 10px;
    font-size: 80%;
    color: #fff;
    border-radius: 4px;
}

span.pill {
    padding: 5px 10px;
    font-size: 80%;
    color: #fff;
    border-radius: 4px;
}

.code {
    font-weight: 700;
}

.voucher_item {
    padding: 1rem;
    margin-bottom: .5rem;
}

span.list-head {
    font-weight: 700;
}

.voucher_item a[target=_blank]::before {
    display: none;
}

/*** Dashboard ***/
.order-row {
    border-top: 1px solid var(--border_color);
    padding: 1rem 0;
    display: flex;
    align-items: center;
}

.btn-fluid {
    width: 100%;
}

.customer_name_icon {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    border-radius: 50px;
    color: #fff;
    font-weight: 700;
}

.customer_name {
    font-weight: 700;
    display: block;
}

.order_created {
    display: block;
}

#orders_list .card-header {
    justify-content: space-between;
    align-items: center;
}

.info_card {
    border: 1px solid var(--border_color);
    background: #fff;
    padding: 1.5rem;
    border-radius: 0.25rem;
    box-shadow: 0 2px 10px -8px var(--template-bg-dark-50);
}

.info_card_value {
    display: block;
    font-size: 2rem;
    color: var(--primary);
}

.info_card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.info_card_icon > .bi {
    font-size: 3rem;
    color: var(--primary);
}

.info_card_icon {
    display: flex;
    justify-content: flex-end;
}

span.success {
    color: var(--success);
}

span.danger {
    color: var(--danger);
}