.w7vouchers {
    --w7-bg-primary: #fff;
    --w7-bg-secondary: #f6f6f6;
    --w7-title: #1b1b1d;
    --w7-border-color: #ececec;
    --w7-padding: 1.5rem;
    --w7-radius: 8px;
    --w7-box-shadow: 0 2px 10px -8px #000;
    --padding: 1.5rem;
    font-size: 16px;
}

.w7vouchers .actions {
    width: 100%;
    background: var(--w7-bg-secondary);
    padding: var(--w7-padding);
    border-radius: var(--w7-radius);
}

.w7vouchers .actions span.price {
    font-size: 2rem;
    font-weight: 700;
    display: block;
    text-align: center;
}

.w7vouchers span.regualar_price {
    font-size: 80%;
    display: block;
    text-decoration: line-through;
}

.w7vouchers .actions span.regualar_price {
    font-size: 50%;
    display: block;
    text-decoration: line-through;
}

.w7vouchers .actions span.price_note {
    display: block;
    width: 100%;
    text-align: center;
    font-style: italic;
}

.w7vouchers .actions .buttons_wrapper {
    padding-top: var(--w7-padding);
}

.w7vouchers .actions .btn {
    width: 100%;
}

.w7vouchers .info_wrapper {
    width: 100%;
    padding-right: var(--w7-padding);
}

.w7vouchers .w7_image {
    border-radius: var(--w7-radius);
}

.w7vouchers .cart-amount {
    display: inline-flex;
    border-radius: 4px;
    background-color: #f6f6f6;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    min-height: 40px;
    text-align: center;
}

.w7vouchers span.cart-price {
    font-weight: 700;
}

.w7vouchers .cart-product-item {
    border-bottom: 1px solid #ececec;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
}

.item_price_wrapper {
    margin-bottom: 30px;
}

.item_price_wrapper > span.item_price {
    font-size: 22px;
    font-weight: 700;
}

.item_title_wrapper > a > .card-title {
    font-size: 22px;
    text-align: left;
}

#order-form textarea {
    min-height: 135px;
}

.com_w7vouchers.checkout h4 {
    text-align: left;
    font-weight: 700;
    font-size: 1.2rem;
}

/* Confirm page */
#confirm.w7vouchers,
#empty {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#confirm.w7vouchers .content,
#empty .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 550px;
}

#confirm.w7vouchers .content img,
#empty .content img {
    max-width: 300px;
    margin-bottom: 40px;
}

#confirm.w7vouchers .content h1,
#empty .content h1 {
    text-align: center;
    font-size: 32px;
}

/* Gridbox fix */
.w7vouchers input {
    width: 100%;
    max-width: 100%;
}

.w7vouchers .cart-product-item {
    font-size: 1rem;
}

.w7vouchers .cart-product-item p {
    font-size: 1rem;
}

.w7vouchers .cart-product-item .product_title {
    font-weight: 700;
}

.w7vouchers .control-group label {
    font-size: 1rem;
    font-weight: 700;
    color: var(--w7-title);
    line-height: 1.5;
}

.w7vouchers .info_heading {
    font-size: 1.2rem;
    margin-top: 30px;
    text-align: left;
}

/*** Login ***/
.w7vouchers #login-form {
    margin-bottom: 0;
}

.w7vouchers #login-form .control-group .control-label {
    opacity: 1;
}

#login_form_wrapper {
    background: var(--w7-bg-secondary);
    padding: var(--padding);
    border-radius: var(--w7-radius);
    margin-bottom: 1.5rem;
}

#login_form_wrapper h2 {
    font-size: 1rem;
    text-align: left;
    margin-top: 0;
}

#signed_in_as {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#signed_in_as span {
    font-size: 1rem;
}

span.bold {
    font-weight: 700;
}

a.forgot-password {
    display: block;
    margin-top: 1rem;
}

/*** Vouchers list ***/
.card.grid_item {
    margin-bottom: 2rem;
    box-shadow: var(--w7-box-shadow);
    border-color: var(--w7-border-color) !important;
    background-color: var(--w7-bg-primary);
}

.row.border-bottom {
    border-bottom: 1px solid var(--w7-border-color);
}

.table-item-value {
    font-weight: 700;
}

.item_title_wrapper h2.card-title {
    font-size: 1.5rem;
    text-align: left;
}

.voucher_active-0.card.grid_item {
    opacity: .5;
    box-shadow: none;
}

.w7vouchers h1.page_title {
    text-align: left;
    margin: 0 0 2rem;
    font-size: 1.5rem;
}

.w7vouchers #needs_login {
    min-height: 50vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: var(--padding);
}

#needs_login #login_wrapper {
    max-width: 550px;
    width: 100%;
    box-shadow: var(--w7-box-shadow);
    padding: var(--padding);
    background-color: var(--w7-bg-primary);
}


.w7-alert {
    padding: 25px !important;
}